[submodule "C/libft"]
	path = C/libft
	url = https://github.com/y-Diniz/libft
[submodule "C/ft_printf"]
	path = C/ft_printf
	url = https://github.com/y-Diniz/ft_printf
[submodule "C/get_next_line"]
	path = C/get_next_line
	url = https://github.com/y-Diniz/get_next_line
[submodule "C/minitalk"]
	path = C/minitalk
	url = https://github.com/y-Diniz/minitalk
[submodule "C/fract-ol"]
	path = C/fract-ol
	url = https://github.com/y-Diniz/fract-ol
[submodule "C/push_swap"]
	path = C/push_swap
	url = https://github.com/y-Diniz/push_swap
[submodule "C/philosophers"]
	path = C/philosophers
	url = https://github.com/y-Diniz/philosophers
[submodule "C/Minishell"]
	path = C/Minishell
	url = https://github.com/42-Partners/Minishell
